<div class="response-container">
    <div class="manufacturer">
        @if (carResponse()) {
            <p>manufacturer: {{ carResponse().manufacturer }}</p>
            @for (carModel of carResponse().carModels; track carModel; let idx = $index) {
                <div class="other-attributes">
                    <p>{{ idx + 1 }}. {{ carModel.modelType }}</p>
                    <p>topSpeed: {{ carModel.topSpeed }}</p>
                    <p>engineType: {{ carModel.engineType }}</p>
                    <p>startProductionYear: {{ carModel.startProductionYear }}</p>
                </div>
            }
        }
    </div>
</div>
