<div class="container">
<!--    <div class="left-container">-->
<!--        <div class="empty-container"></div>-->
<!--        <div class="btn-container">-->
<!--            <button class="ifo-btn btn">Info</button>-->
<!--            <button class="cars-btn btn">Cars</button>-->
<!--            <button class="spring-btn btn">Spring</button>-->
<!--        </div>-->
<!--    </div>-->
    <left></left>

    <div class="right-container">
        <div class="empty-container"></div>
        <h1>Spring AI</h1>
        <div class="text-container">
            <input type="text" class="search-input">
            <button class="search-btn">Search</button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
